@import url(style.css);


@media all and (max-width: 990px){
    .card-footer{
        height: 55px;
    }
}

@media all and (max-width: 768px){
    .container .wrapper .card{
      width: 95%;
      margin: 5 auto;
    }
  
    .container .wrapper .card .card-header{
      height: 220px;
    }

    .container .wrapper .card .card-footer{
        height: auto;
    }

    .searchMenu{
      display: block;
      content: '';
      width: 100%;
      height: 20px;
      border-radius: 10px;
      background: red;
    }

    .d-flex{
      /*display: none !important;*/

    }
}