@import url(style.css);

@media all and (max-width: 864px) {
    .header .navbar .container-fluid .btn-outline-secondary{
        display: block;
    }

    .header .navbar .container-fluid .context-menu{
        display: none;
        width: 100vw;
    }

    .header .navbar .container-fluid .context-menu .btn-success{
        margin: 0.5em;
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    
    .container .wrapper .card{
        width: 95%;
        margin: 5px auto;
    }

    .container .wrapper .card .card-header{
        height: 220px;
    }
  
    .container .wrapper .card .card-footer{
        height: auto;
    }

    .header .navbar .cart{
        width: 100%;
    }
}

