@import url(style.css);


@media all and (max-width: 990px){
    .card-footer{
        height: 55px;
    }
}

@media all and (max-width: 854px){
  .navbar .container-fluid{
    flex-direction: column;
  }

  .navbar .container-fluid .navbar-head{
    width: 100%;
    justify-content: space-between;
  }

  .navbar .container-fluid .navbar-head .btn-outline-secondary{
    display: block;
    justify-self: flex-start;
  }

  .navbar .container-fluid .search-menu{
    display: none;
    width: 100%;
  }

  #header-form{
    margin-top: 6px;
  }

  #header-form input{
    width: 100%;
    margin-left: 0;
  }
}

@media all and (max-width: 768px){
    .container .wrapper .card{
      width: 95%;
      margin: 5 auto;
    }
  
    .container .wrapper .card .card-header{
      height: 220px;
    }

    .container .wrapper .card .card-footer{
        height: auto;
    }



}