.header .navbar {
  padding: 0;
  background: rgba(0, 0, 0, 0.4); }
  .header .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    padding: 5px; }
    .header .navbar .container-fluid .btn-outline-secondary {
      display: none; }
    .header .navbar .container-fluid .context-menu {
      display: flex; }
      .header .navbar .container-fluid .context-menu .btn-success {
        margin-right: 0.5em; }
.header .cart {
  width: 768px;
  height: 95vh;
  display: none; }
  .header .cart .cart-cont {
    padding: 50px 15px 15px;
    width: 100%;
    height: 100%;
    background-color: #f8f9fb; }
    .header .cart .cart-cont .cart-hat {
      display: flex;
      justify-content: space-between; }
      .header .cart .cart-cont .cart-hat .btn-close {
        padding-top: 23px; }
    .header .cart .cart-cont h5 {
      padding: 20px 0;
      text-align: right; }
    .header .cart .cart-cont .ul-cont {
      max-height: 80%;
      overflow-y: auto; }
      .header .cart .cart-cont .ul-cont .list-group .list-group-item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;
        height: 62px; }
        .header .cart .cart-cont .ul-cont .list-group .list-group-item .photo-cont {
          width: 50px;
          height: 50px;
          overflow: hidden;
          text-align: center;
          border-radius: 3px; }
          .header .cart .cart-cont .ul-cont .list-group .list-group-item .photo-cont .cartItem-title-img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .header .cart .cart-cont .ul-cont .list-group .list-group-item .cartItem-title {
          padding: 13px; }
        .header .cart .cart-cont .ul-cont .list-group .list-group-item .control-btn-box .amount-btn {
          width: 30px;
          height: 30px;
          margin: 5px;
          border-radius: 50%;
          padding: 0;
          padding-bottom: 2px; }
        .header .cart .cart-cont .ul-cont .list-group .list-group-item .control-btn-box span {
          margin: 5px 0;
          padding: 12px;
          font-size: 14px;
          height: calc(100% - 10px); }
        .header .cart .cart-cont .ul-cont .list-group .list-group-item .control-btn-box .btn-danger {
          margin: 5px;
          padding: 7px; }
    .header .cart .cart-cont .place-holder {
      text-align: center;
      padding: 40px; }
    .header .cart .cart-cont .btn-primary {
      width: 100%; }

.title {
  margin: 100px 0 50px; }

.wrapper .card {
  padding: 0;
  margin: 6px;
  width: 23%; }
  .wrapper .card .card-header {
    padding: 0;
    height: 150px; }
    .wrapper .card .card-header .card-img-top {
      height: 100%;
      object-fit: cover; }
  .wrapper .card .card-body {
    padding: 12px; }
    .wrapper .card .card-body .card-body-descr {
      font-size: 14px; }
  .wrapper .card .card-footer {
    margin: 0 8px;
    padding: 3px;
    display: flex;
    justify-content: space-between; }
    .wrapper .card .card-footer .card-footer-info {
      font-size: 12px;
      font-weight: 500; }
      .wrapper .card .card-footer .card-footer-info:last-child {
        text-align: right; }
  .wrapper .card .card-btn {
    margin: 0 8px 8px; }

/*# sourceMappingURL=style.css.map */
