.header{
    .navbar{
        padding: 0;
        background: rgba(0, 0, 0, 0.4);

        .container-fluid{
            display: flex;
            justify-content: space-between;
            padding: 5px;
            
            .btn-outline-secondary{
                display: none;
            }

            .context-menu{
                display: flex;

                .btn-success{
                    margin-right: 0.5em;
                }
            }
        }
    }

    .cart{
        width: 768px;
        height: 95vh;
        display: none;

        .cart-cont{
            padding: 50px 15px 15px;
            width: 100%;
            height: 100%;
            background-color: rgb(248, 249, 251);
            
            .cart-hat{
                display: flex;
                justify-content: space-between;

                .btn-close{
                    padding-top: 23px;
                }
            }

            h5{
                padding: 20px 0;
                text-align: right;
            }

            .ul-cont{
                max-height: 80%;
                overflow-y: auto;

                .list-group{
                    .list-group-item{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        padding: 5px;
                        height: 62px;
    
                        .photo-cont{
                            width: 50px;
                            height: 50px;
                            overflow: hidden;
                            text-align: center;
                            border-radius: 3px;
    
                            .cartItem-title-img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                
                            }
                        }
    
                        .cartItem-title{
                            padding: 13px;
                        }
    
                        .control-btn-box{
                            .amount-btn{
                                width: 30px;
                                height: 30px;
                                margin: 5px;
                                border-radius: 50%;
                                padding: 0;
                                padding-bottom: 2px;
                            }
        
                            span{
                                margin: 5px 0;
                                padding: 12px;
                                font-size: 14px;
                                height: calc(100% - 10px);
                            }
        
                            .btn-danger{
                                margin: 5px;
                                padding: 7px;
                            }
                        }
                    }
                }
            }

            .place-holder{
                text-align: center;
                padding: 40px;
            }

            .btn-primary{
                width: 100%;
            }
        }
    }
}

.title {
    margin: 100px 0 50px;
}  

.wrapper{

    .card{
        padding: 0;
        margin: 6px;
        width: 23%;

        .card-header{
            padding: 0;
            height: 150px;

            .card-img-top{
                height: 100%;
                object-fit: cover;
            }
        }

        .card-body{
            padding: 12px;

            .card-body-descr{
                font-size: 14px;
            }
        }

        .card-footer{
            margin: 0 8px;
            padding: 3px;
            display: flex;
            justify-content: space-between;

            .card-footer-info{
                font-size: 12px;
                font-weight: 500;

                &:last-child{
                    text-align: right;
                }
            }
        }

        .card-btn{
            margin: 0 8px 8px;
        }

    }

}

